@charset "UTF-8";

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #fe8205;
  color: white;
  font-weight: 600;
}

tr:hover {
  background-color: #f2f2f2;
}

a {
  color: #fe8205;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.no-data {
  text-align: center;
  color: #777;
  padding: 20px;
  font-style: italic;
}

.back-button {
  text-align: center;
  margin-top: 30px;
}

.back-button button {
  background-color: #fe8205;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button button:hover {
  background-color: #ff9d3e;
}
button {
  background-color: #fe8205;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #ff9d3e;
}

