<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create Chat Room</title>
</head>
<body>
	<!-- 기존 폼 등 내용 -->

	<script>
		/* 서버에서 errorMessage가 있으면 alert 띄우기 */
		/* Thymeleaf 문법 예시 */
		/* errorMessage가 null 아니면 alert 띄우기 */
		/* th:inline="javascript"를 꼭 추가해야 함 */
	</script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		let errorMessage = /*[[${errorMessage}]]*/null;
		if (errorMessage) {
			alert(errorMessage);
			history.back(); // 확인 누르면 이전 페이지로 이동
		}
		/*]]>*/
	</script>
</body>
</html>